:root {
	--ui-builder-accent: #0078b4;
	--ui-builder-accent-light: #bad0db;
	--ui-builder-accent-dark: #3372bc;
	--ui-builder-accent-invert: #fdfdfd;
	--ui-builder-card: #ECEDF0;
	--ui-builder-text: #596581;
	--ui-builder-text-invert: #fdfdfd;
	--ui-builder-warn: #ff925c;
	--ui-builder-danger: #ED5d5d;
	--ui-builder-user1: #3276F5;
	--ui-builder-user2: #EB8DC7;
	--ui-builder-user3: #EBAA3B;
	--ui-builder-user4: #75EB6A;
	--ui-builder-user5: #94BCEB;
	--ui-builder-spacing-0_5: 0.5rem;
	--ui-builder-spacing-1: 1rem;
	--ui-builder-spacing-1_5: 1.5rem;
	--ui-builder-spacing-2: 2rem;
	--ui-builder-spacing-2_5: 2.5rem;
	--ui-builder-spacing-3: 3rem;
	--ui-builder-spacing-3_5: 3.5rem;
	--ui-builder-spacing-4: 4rem;
	--ui-builder-spacing-4_5: 4.5rem;
}

/* ui-builder colours */
.ui-builder-accent { color: var(--ui-builder-accent); }
.bg-ui-builder-accent { background-color: var(--ui-builder-accent); }
.ui-builder-accent-light { color: var(--ui-builder-accent-light);}
.bg-ui-builder-accent-light { background-color: var(--ui-builder-accent-light); }
.ui-builder-accent-light { color: var(--ui-builder-accent-light); }
.bg-ui-builder-accent-light { background-color: var(--ui-builder-accent-light); }
.ui-builder-accent-invert { color: var(--ui-builder-accent-invert); }
.bg-ui-builder-accent-invert { background-color: var(--ui-builder-accent-invert); }
.ui-builder-card { color: var(--ui-builder-card); }
.bg-ui-builder-card { background-color: var(--ui-builder-card); }
.ui-builder-text { color: var(--ui-builder-text); }
.bg-ui-builder-text { background-color: var(--ui-builder-text); }
.ui-builder-text-invert { color: var(--ui-builder-text-invert); }
.bg-ui-builder-text-invert { background-color: var(--ui-builder-text-invert); }
.ui-builder-warn { color: var(--ui-builder-warn); }
.bg-ui-builder-warn { background-color: var(--ui-builder-warn); }
.ui-builder-danger { color: var(--ui-builder-danger); }
.bg-ui-builder-danger { background-color: var(--ui-builder-danger); }
/* Users */
.ui-builder-user1 { color: var(--ui-builder-user1); }
.bg-ui-builder-user1 { background-color: var(--ui-builder-user1); }
.ui-builder-user2 { color: var(--ui-builder-user2); }
.bg-ui-builder-user2 { background-color: var(--ui-builder-user2); }
.ui-builder-user3 { color: var(--ui-builder-user3); }
.bg-ui-builder-user3 { background-color: var(--ui-builder-user3); }
.ui-builder-user4 { color: var(--ui-builder-user4); }
.bg-ui-builder-user4 { background-color: var(--ui-builder-user4); }
.ui-builder-user5 { color: var(--ui-builder-user5); }
.bg-ui-builder-user5 { background-color: var(--ui-builder-user5); }

.scrollbar-hidden::-webkit-scrollbar {
	visibility: hidden;
}
.scrollbar-hidden {
	scrollbar-color: transparent transparent;
}

.odometer {
	height: 1em;
	display: inline-block;
}

.digit-container {
	display: inline-block;
	height: 1em;
	width: 1em;
	overflow: hidden;
	padding: 0 0.2em;
}

/* Hide scrollbars for Carousel */
[class*=uiCarouselWrapper]::-webkit-scrollbar {
	display: none;
}

[class*=uiDialogFeedbackWrapper]::-webkit-scrollbar {
	display: none;
}

[class*=uiCarouselWrapper] {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

/* Browser style overrides */
.link:hover,
.link:active,
.link:focus,
a:hover,
a:active,
a:focus {
	outline: 0 !important;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.hide-input-clear::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

.hide-input-clear::-webkit-search-cancel-button {
	display: none;
}

/* ui-builder layout */

body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* ui-builder helper classes */

.mt-auto {
	margin-top: auto;
}

.mb-auto {
	margin-bottom: auto;
}

.mw-unset {
	max-width: unset;
}

/* Prevent Safari "optimising" display of vault page lists */
.safari-bug {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Simple button click ripple effect */
.ripple {
	position: relative !important;
	overflow: hidden !important;
	transform: translate3d(0, 0, 0);
}

.ripple:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, rgb(173, 173, 173) 10%, transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform .5s, opacity 1s;
}

.ripple:active:after {
	transform: scale(0, 0);
	opacity: 0.3;
	transition: 0s;
}

.doc-overlay input {
	border: none;
}

@keyframes shimmer-animation {
	from {
		background-position: -468px;
	}
	to {
		background-position: 468px;
	}
}

.loading-shimmer {
	animation: 1.2s linear 0s infinite normal none running shimmer-animation;
	background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px;
}

/* Simple pulsate animation */
.pulse {
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: scale(1);
	animation: 1.2s ease-in-out 0s infinite normal none running pulse-animation;
}

@keyframes pulse-animation {
	from {
		transform: scale(1);
	}
	60% {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}

.shake {
	animation: 0.1s ease-in-out shake-left;
}

@keyframes shake-left {
	from {
		transform: translateX(-.25rem);
	}
	to {
		transform: translateX(.25rem);
	}
}

/* Fade in/out animations */
.fade-in {
	animation: 0.2s linear opacity-in;
}

@keyframes opacity-in {
	from {
		opacity: 0
	}

	to {
		opacity: 1;
	}
}

.fade-out {
	animation: 0.2s linear opacity-out;
}

@keyframes opacity-out {
	from {
		opacity: 1
	}

	to {
		opacity: 0;
	}
}

/* Dialog sliding animations */
.notify-top-in {
	animation: 0.2s linear top-in;
}

@keyframes top-in {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0%);
	}
}

.notify-top-out {
	animation: 0.2s linear top-out;
}

@keyframes top-out {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(-100%);
	}
}

.notify-right-in {
	animation: 0.2s linear right-in;
}

@keyframes right-in {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

.notify-right-out {
	animation: 0.2s linear right-out;
}

@keyframes right-out {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(100%);
	}
}

.notify-bottom-in {
	animation: 0.2s linear bottom-in;
}

@keyframes bottom-in {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0%);
	}
}

.notify-bottom-out {
	animation: 0.2s linear bottom-out;
}

@keyframes bottom-out {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(100%);
	}
}

.notify-left-in {
	animation: 0.2s linear left-in;
}

@keyframes left-in {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

.notify-left-out {
	animation: 0.2s linear left-out;
}

@keyframes left-out {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}
}

/* Utility classes not present in Tachyons.css */
.arrow:hover {
	cursor: default;
}

.sticky {
	position: sticky;
}

.cursor-default {
	cursor: default;
}

.pointer-events-none {
	pointer-events: none;
}

.touch-action-none {
	touch-action: none;
}

.user-select-none {
	user-select: none;
}

/* User typeing elipsis animation */
.user-typing-dots {
	height: 100%;
	border-radius: 10px;
	pointer-events: none;
}

.user-typing-dots>:first-child {
	margin-left: 6px
}

.user-typing-dots>:nth-child(2) {
	animation-delay: 0.15s;
}

.user-typing-dots>:nth-child(3) {
	animation-delay: 0.3s;
}

.user-typing-dot {
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-name: dot-scale;
	animation-duration: 1s;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-left: 3px;
	border-radius: 50%;
	background-color: #444;
	transform: scale(0.65);
}

@media screen and (max-width: 440px) {
	.user-typing-dot {
		width: 5px;
		height: 5px;
		margin-left: 1px;
	}

	.user-typing-dots>:first-child {
		margin-left: 2px
	}
}

@keyframes dot-scale {

	0%,
	70% {
		transform: scale(0.8);
	}

	35% {
		transform: scale(1);
	}
}

/* Fab Button Animiations */
.fab-item-in {
	animation-name: fab-item-in;
	animation-duration: 0.2s;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

.fab-item-out {
	animation-name: fab-item-out;
	animation-duration: 0.2s;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-delay: 0.5s;
}

@keyframes fab-item-in {
	0% {
		max-height: 0;
		margin-top: 0;
		padding: 0;
	}

	100% {
		max-height: 2rem;
		margin-top: 0.5rem;
		padding: 0.5rem 1rem;
	}
}

@keyframes fab-item-out {
	0% {
		max-height: 2rem;
		margin-top: 0.5rem;
		padding: 0.5rem 1rem;
	}

	100% {
		max-height: 0;
		margin-top: 0;
		padding: 0;
	}
}

/* ag-grid */
.uiTooltip {
	transition: opacity .15s ease-in;
}

.uiTooltip.ag-tooltip-hiding {
	opacity: 0;
}

.uiGridCellReset {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* Custom spacing */

/* Margin */
.ma-0_5 { margin: var(--ui-builder-spacing-0_5); }
.ma-1 { margin: var(--ui-builder-spacing-1); }
.ma-1_5 { margin: var(--ui-builder-spacing-1_5); }
.ma-2 { margin: var(--ui-builder-spacing-2); }
.ma-2_5 { margin: var(--ui-builder-spacing-2_5); }
.ma-3 { margin: var(--ui-builder-spacing-3); }
.ma-3_5 { margin: var(--ui-builder-spacing-3_5); }
.ma-4 { margin: var(--ui-builder-spacing-4); }
.ma-4_5 { margin: var(--ui-builder-spacing-4_5); }

.mt-0_5 { margin-top: var(--ui-builder-spacing-0_5); }
.mt-1 { margin-top: var(--ui-builder-spacing-1); }
.mt-1_5 { margin-top: var(--ui-builder-spacing-1_5); }
.mt-2 { margin-top: var(--ui-builder-spacing-2); }
.mt-2_5 { margin-top: var(--ui-builder-spacing-2_5); }
.mt-3 { margin-top: var(--ui-builder-spacing-3); }
.mt-3_5 { margin-top: var(--ui-builder-spacing-3_5); }
.mt-4 { margin-top: var(--ui-builder-spacing-4); }
.mt-4_5 { margin-top: var(--ui-builder-spacing-4_5); }

.mb-0_5 { margin-bottom: var(--ui-builder-spacing-0_5); }
.mb-1 { margin-bottom: var(--ui-builder-spacing-1); }
.mb-1_5 { margin-bottom: var(--ui-builder-spacing-1_5); }
.mb-2 { margin-bottom: var(--ui-builder-spacing-2); }
.mb-2_5 { margin-bottom: var(--ui-builder-spacing-2_5); }
.mb-3 { margin-bottom: var(--ui-builder-spacing-3); }
.mb-3_5 { margin-bottom: var(--ui-builder-spacing-3_5); }
.mb-4 { margin-bottom: var(--ui-builder-spacing-4); }
.mb-4_5 { margin-bottom: var(--ui-builder-spacing-4_5); }

.ml-0_5 { margin-left: var(--ui-builder-spacing-0_5); }
.ml-1 { margin-left: var(--ui-builder-spacing-1); }
.ml-1_5 { margin-left: var(--ui-builder-spacing-1_5); }
.ml-2 { margin-left: var(--ui-builder-spacing-2); }
.ml-2_5 { margin-left: var(--ui-builder-spacing-2_5); }
.ml-3 { margin-left: var(--ui-builder-spacing-3); }
.ml-3_5 { margin-left: var(--ui-builder-spacing-3_5); }
.ml-4 { margin-left: var(--ui-builder-spacing-4); }
.ml-4_5 { margin-left: var(--ui-builder-spacing-4_5); }

.mr-0_5 { margin-right: var(--ui-builder-spacing-0_5); }
.mr-1 { margin-right: var(--ui-builder-spacing-1); }
.mr-1_5 { margin-right: var(--ui-builder-spacing-1_5); }
.mr-2 { margin-right: var(--ui-builder-spacing-2); }
.mr-2_5 { margin-right: var(--ui-builder-spacing-2_5); }
.mr-3 { margin-right: var(--ui-builder-spacing-3); }
.mr-3_5 { margin-right: var(--ui-builder-spacing-3_5); }
.mr-4 { margin-right: var(--ui-builder-spacing-4); }
.mr-4_5 { margin-right: var(--ui-builder-spacing-4_5); }
/* Horizontal */
.mh-0_5 { margin-left: var(--ui-builder-spacing-0_5); margin-right: var(--ui-builder-spacing-0_5); }
.mh-1 { margin-left: var(--ui-builder-spacing-1); margin-right: var(--ui-builder-spacing-1); }
.mh-1_5 { margin-left: var(--ui-builder-spacing-1_5); margin-right: var(--ui-builder-spacing-1_5); }
.mh-2 { margin-left: var(--ui-builder-spacing-2); margin-right: var(--ui-builder-spacing-2); }
.mh-2_5 { margin-left: var(--ui-builder-spacing-2_5); margin-right: var(--ui-builder-spacing-2_5); }
.mh-3 { margin-left: var(--ui-builder-spacing-3); margin-right: var(--ui-builder-spacing-3); }
.mh-3_5 { margin-left: var(--ui-builder-spacing-3_5); margin-right: var(--ui-builder-spacing-3_5); }
.mh-4 { margin-left: var(--ui-builder-spacing-4); margin-right: var(--ui-builder-spacing-4); }
.mh-4_5 { margin-left: var(--ui-builder-spacing-4_5); margin-right: var(--ui-builder-spacing-4_5); }
/* Vertical */
.mv-0_5 { margin-top: var(--ui-builder-spacing-0_5); margin-bottom: var(--ui-builder-spacing-0_5); }
.mv-1 { margin-top: var(--ui-builder-spacing-1); margin-bottom: var(--ui-builder-spacing-1); }
.mv-1_5 { margin-top: var(--ui-builder-spacing-1_5); margin-bottom: var(--ui-builder-spacing-1_5); }
.mv-2 { margin-top: var(--ui-builder-spacing-2); margin-bottom: var(--ui-builder-spacing-2); }
.mv-2_5 { margin-top: var(--ui-builder-spacing-2_5); margin-bottom: var(--ui-builder-spacing-2_5); }
.mv-3 { margin-top: var(--ui-builder-spacing-3); margin-bottom: var(--ui-builder-spacing-3); }
.mv-3_5 { margin-top: var(--ui-builder-spacing-3_5); margin-bottom: var(--ui-builder-spacing-3_5); }
.mv-4 { margin-top: var(--ui-builder-spacing-4); margin-bottom: var(--ui-builder-spacing-4); }
.mv-4_5 { margin-top: var(--ui-builder-spacing-4_5); margin-bottom: var(--ui-builder-spacing-4_5); }

/* Padding */
.pa-0_5 { padding: var(--ui-builder-spacing-0_5); }
.pa-1 { padding: var(--ui-builder-spacing-1); }
.pa-1_5 { padding: var(--ui-builder-spacing-1_5); }
.pa-2 { padding: var(--ui-builder-spacing-2); }
.pa-2_5 { padding: var(--ui-builder-spacing-2_5); }
.pa-3 { padding: var(--ui-builder-spacing-3); }
.pa-3_5 { padding: var(--ui-builder-spacing-3_5); }
.pa-4 { padding: var(--ui-builder-spacing-4); }
.pa-4_5 { padding: var(--ui-builder-spacing-4_5); }

.pt-0_5 { padding-top: var(--ui-builder-spacing-0_5); }
.pt-1 { padding-top: var(--ui-builder-spacing-1); }
.pt-1_5 { padding-top: var(--ui-builder-spacing-1_5); }
.pt-2 { padding-top: var(--ui-builder-spacing-2); }
.pt-2_5 { padding-top: var(--ui-builder-spacing-2_5); }
.pt-3 { padding-top: var(--ui-builder-spacing-3); }
.pt-3_5 { padding-top: var(--ui-builder-spacing-3_5); }
.pt-4 { padding-top: var(--ui-builder-spacing-4); }
.pt-4_5 { padding-top: var(--ui-builder-spacing-4_5); }

.pb-0_5 { padding-bottom: var(--ui-builder-spacing-0_5); }
.pb-1 { padding-bottom: var(--ui-builder-spacing-1); }
.pb-1_5 { padding-bottom: var(--ui-builder-spacing-1_5); }
.pb-2 { padding-bottom: var(--ui-builder-spacing-2); }
.pb-2_5 { padding-bottom: var(--ui-builder-spacing-2_5); }
.pb-3 { padding-bottom: var(--ui-builder-spacing-3); }
.pb-3_5 { padding-bottom: var(--ui-builder-spacing-3_5); }
.pb-4 { padding-bottom: var(--ui-builder-spacing-4); }
.pb-4_5 { padding-bottom: var(--ui-builder-spacing-4_5); }

.pl-0_5 { padding-left: var(--ui-builder-spacing-0_5); }
.pl-1 { padding-left: var(--ui-builder-spacing-1); }
.pl-1_5 { padding-left: var(--ui-builder-spacing-1_5); }
.pl-2 { padding-left: var(--ui-builder-spacing-2); }
.pl-2_5 { padding-left: var(--ui-builder-spacing-2_5); }
.pl-3 { padding-left: var(--ui-builder-spacing-3); }
.pl-3_5 { padding-left: var(--ui-builder-spacing-3_5); }
.pl-4 { padding-left: var(--ui-builder-spacing-4); }
.pl-4_5 { padding-left: var(--ui-builder-spacing-4_5); }

.pr-0_5 { padding-right: var(--ui-builder-spacing-0_5); }
.pr-1 { padding-right: var(--ui-builder-spacing-1); }
.pr-1_5 { padding-right: var(--ui-builder-spacing-1_5); }
.pr-2 { padding-right: var(--ui-builder-spacing-2); }
.pr-2_5 { padding-right: var(--ui-builder-spacing-2_5); }
.pr-3 { padding-right: var(--ui-builder-spacing-3); }
.pr-3_5 { padding-right: var(--ui-builder-spacing-3_5); }
.pr-4 { padding-right: var(--ui-builder-spacing-4); }
.pr-4_5 { padding-right: var(--ui-builder-spacing-4_5); }
/* Horizontal */
.ph-0_5 { padding-left: var(--ui-builder-spacing-0_5); padding-right: var(--ui-builder-spacing-0_5); }
.ph-1 { padding-left: var(--ui-builder-spacing-1); padding-right: var(--ui-builder-spacing-1); }
.ph-1_5 { padding-left: var(--ui-builder-spacing-1_5); padding-right: var(--ui-builder-spacing-1_5); }
.ph-2 { padding-left: var(--ui-builder-spacing-2); padding-right: var(--ui-builder-spacing-2); }
.ph-2_5 { padding-left: var(--ui-builder-spacing-2_5); padding-right: var(--ui-builder-spacing-2_5); }
.ph-3 { padding-left: var(--ui-builder-spacing-3); padding-right: var(--ui-builder-spacing-3); }
.ph-3_5 { padding-left: var(--ui-builder-spacing-3_5); padding-right: var(--ui-builder-spacing-3_5); }
.ph-4 { padding-left: var(--ui-builder-spacing-4); padding-right: var(--ui-builder-spacing-4); }
.ph-4_5 { padding-left: var(--ui-builder-spacing-4_5); padding-right: var(--ui-builder-spacing-4_5); }
/* Vertical */
.pv-0_5 { padding-top: var(--ui-builder-spacing-0_5); padding-bottom: var(--ui-builder-spacing-0_5);}
.pv-1 { padding-top: var(--ui-builder-spacing-1); padding-bottom: var(--ui-builder-spacing-1);}
.pv-1_5 { padding-top: var(--ui-builder-spacing-1_5); padding-bottom: var(--ui-builder-spacing-1_5);}
.pv-2 { padding-top: var(--ui-builder-spacing-2); padding-bottom: var(--ui-builder-spacing-2);}
.pv-2_5 { padding-top: var(--ui-builder-spacing-2_5); padding-bottom: var(--ui-builder-spacing-2_5);}
.pv-3 { padding-top: var(--ui-builder-spacing-3); padding-bottom: var(--ui-builder-spacing-3);}
.pv-3_5 { padding-top: var(--ui-builder-spacing-3_5); padding-bottom: var(--ui-builder-spacing-3_5);}
.pv-4 { padding-top: var(--ui-builder-spacing-4); padding-bottom: var(--ui-builder-spacing-4);}
.pv-4_5 { padding-top: var(--ui-builder-spacing-4_5); padding-bottom: var(--ui-builder-spacing-4_5);}

/* CSS grid - loosely based on Bootstrap 5.1 */
.grid { display: grid; }
.template-cols { grid-template-columns: repeat(var(--ui-builder-cols, 12), 1fr); }
.template-rows { grid-template-rows: repeat(var(--ui-builder-rows, 1), 1fr); }

/* Grid align and justify */
.place-center { place-items: center; }
.place-stretch { place-items: stretch; }
.place-start { place-items: start; }
.place-end { place-items: end; }

/* Grid align center justify x helpers */
.place-center-stretch { place-items: center stretch; }
.place-center-start { place-items: center start; }
.place-center-end { place-items: center end; }

.gap0 { gap: 0; }
.gap1 { gap: .25rem; }
.gap2 { gap: .5rem; }
.gap3 { gap: 1rem; }
.gap4 { gap: 2rem; }
.gap5 { gap: 4rem; }

/* Grid row/column helpers */
.gr1 { grid-row: auto/span 1; }
.gr2 { grid-row: auto/span 2; }
.gr3 { grid-row: auto/span 3; }
.gr4 { grid-row: auto/span 4; }
.gr5 { grid-row: auto/span 5; }
.gr6 { grid-row: auto/span 6; }
.gc1 { grid-column: auto/span 1; }
.gc2 { grid-column: auto/span 2; }
.gc3 { grid-column: auto/span 3; }
.gc4 { grid-column: auto/span 4; }
.gc5 { grid-column: auto/span 5; }
.gc6 { grid-column: auto/span 6; }
.gc12 { grid-column: auto/span 12; }

@media screen and (min-width:30em) {
	/* Margin */
	.ma-0_5-ns { margin: var(--ui-builder-spacing-0_5); }
	.ma-1-ns { margin: var(--ui-builder-spacing-1); }
	.ma-1_5-ns { margin: var(--ui-builder-spacing-1_5); }
	.ma-2-ns { margin: var(--ui-builder-spacing-2); }
	.ma-2_5-ns { margin: var(--ui-builder-spacing-2_5); }
	.ma-3-ns { margin: var(--ui-builder-spacing-3); }
	.ma-3_5-ns { margin: var(--ui-builder-spacing-3_5); }
	.ma-4-ns { margin: var(--ui-builder-spacing-4); }
	.ma-4_5-ns { margin: var(--ui-builder-spacing-4_5); }

	.mt-0_5-ns { margin-top: var(--ui-builder-spacing-0_5); }
	.mt-1-ns { margin-top: var(--ui-builder-spacing-1); }
	.mt-1_5-ns { margin-top: var(--ui-builder-spacing-1_5); }
	.mt-2-ns { margin-top: var(--ui-builder-spacing-2); }
	.mt-2_5-ns { margin-top: var(--ui-builder-spacing-2_5); }
	.mt-3-ns { margin-top: var(--ui-builder-spacing-3); }
	.mt-3_5-ns { margin-top: var(--ui-builder-spacing-3_5); }
	.mt-4-ns { margin-top: var(--ui-builder-spacing-4); }
	.mt-4_5-ns { margin-top: var(--ui-builder-spacing-4_5); }

	.mb-0_5-ns { margin-bottom: var(--ui-builder-spacing-0_5); }
	.mb-1-ns { margin-bottom: var(--ui-builder-spacing-1); }
	.mb-1_5-ns { margin-bottom: var(--ui-builder-spacing-1_5); }
	.mb-2-ns { margin-bottom: var(--ui-builder-spacing-2); }
	.mb-2_5-ns { margin-bottom: var(--ui-builder-spacing-2_5); }
	.mb-3-ns { margin-bottom: var(--ui-builder-spacing-3); }
	.mb-3_5-ns { margin-bottom: var(--ui-builder-spacing-3_5); }
	.mb-4-ns { margin-bottom: var(--ui-builder-spacing-4); }
	.mb-4_5-ns { margin-bottom: var(--ui-builder-spacing-4_5); }

	.ml-0_5-ns { margin-left: var(--ui-builder-spacing-0_5); }
	.ml-1-ns { margin-left: var(--ui-builder-spacing-1); }
	.ml-1_5-ns { margin-left: var(--ui-builder-spacing-1_5); }
	.ml-2-ns { margin-left: var(--ui-builder-spacing-2); }
	.ml-2_5-ns { margin-left: var(--ui-builder-spacing-2_5); }
	.ml-3-ns { margin-left: var(--ui-builder-spacing-3); }
	.ml-3_5-ns { margin-left: var(--ui-builder-spacing-3_5); }
	.ml-4-ns { margin-left: var(--ui-builder-spacing-4); }
	.ml-4_5-ns { margin-left: var(--ui-builder-spacing-4_5); }

	.mr-0_5-ns { margin-right: var(--ui-builder-spacing-0_5); }
	.mr-1-ns { margin-right: var(--ui-builder-spacing-1); }
	.mr-1_5-ns { margin-right: var(--ui-builder-spacing-1_5); }
	.mr-2-ns { margin-right: var(--ui-builder-spacing-2); }
	.mr-2_5-ns { margin-right: var(--ui-builder-spacing-2_5); }
	.mr-3-ns { margin-right: var(--ui-builder-spacing-3); }
	.mr-3_5-ns { margin-right: var(--ui-builder-spacing-3_5); }
	.mr-4-ns { margin-right: var(--ui-builder-spacing-4); }
	.mr-4_5-ns { margin-right: var(--ui-builder-spacing-4_5); }
	/* Horizontal */
	.mh-0_5-ns { margin-left: var(--ui-builder-spacing-0_5); margin-right: var(--ui-builder-spacing-0_5); }
	.mh-1-ns { margin-left: var(--ui-builder-spacing-1); margin-right: var(--ui-builder-spacing-1); }
	.mh-1_5-ns { margin-left: var(--ui-builder-spacing-1_5); margin-right: var(--ui-builder-spacing-1_5); }
	.mh-2-ns { margin-left: var(--ui-builder-spacing-2); margin-right: var(--ui-builder-spacing-2); }
	.mh-2_5-ns { margin-left: var(--ui-builder-spacing-2_5); margin-right: var(--ui-builder-spacing-2_5); }
	.mh-3-ns { margin-left: var(--ui-builder-spacing-3); margin-right: var(--ui-builder-spacing-3); }
	.mh-3_5-ns { margin-left: var(--ui-builder-spacing-3_5); margin-right: var(--ui-builder-spacing-3_5); }
	.mh-4-ns { margin-left: var(--ui-builder-spacing-4); margin-right: var(--ui-builder-spacing-4); }
	.mh-4_5-ns { margin-left: var(--ui-builder-spacing-4_5); margin-right: var(--ui-builder-spacing-4_5); }
	/* Vertical */
	.mv-0_5-ns { margin-top: var(--ui-builder-spacing-0_5); margin-bottom: var(--ui-builder-spacing-0_5); }
	.mv-1-ns { margin-top: var(--ui-builder-spacing-1); margin-bottom: var(--ui-builder-spacing-1); }
	.mv-1_5-ns { margin-top: var(--ui-builder-spacing-1_5); margin-bottom: var(--ui-builder-spacing-1_5); }
	.mv-2-ns { margin-top: var(--ui-builder-spacing-2); margin-bottom: var(--ui-builder-spacing-2); }
	.mv-2_5-ns { margin-top: var(--ui-builder-spacing-2_5); margin-bottom: var(--ui-builder-spacing-2_5); }
	.mv-3-ns { margin-top: var(--ui-builder-spacing-3); margin-bottom: var(--ui-builder-spacing-3); }
	.mv-3_5-ns { margin-top: var(--ui-builder-spacing-3_5); margin-bottom: var(--ui-builder-spacing-3_5); }
	.mv-4-ns { margin-top: var(--ui-builder-spacing-4); margin-bottom: var(--ui-builder-spacing-4); }
	.mv-4_5-ns { margin-top: var(--ui-builder-spacing-4_5); margin-bottom: var(--ui-builder-spacing-4_5); }

	/* Padding */
	.pa-0_5-ns { padding: var(--ui-builder-spacing-0_5); }
	.pa-1-ns { padding: var(--ui-builder-spacing-1); }
	.pa-1_5-ns { padding: var(--ui-builder-spacing-1_5); }
	.pa-2-ns { padding: var(--ui-builder-spacing-2); }
	.pa-2_5-ns { padding: var(--ui-builder-spacing-2_5); }
	.pa-3-ns { padding: var(--ui-builder-spacing-3); }
	.pa-3_5-ns { padding: var(--ui-builder-spacing-3_5); }
	.pa-4-ns { padding: var(--ui-builder-spacing-4); }
	.pa-4_5-ns { padding: var(--ui-builder-spacing-4_5); }

	.pt-0_5-ns { padding-top: var(--ui-builder-spacing-0_5); }
	.pt-1-ns { padding-top: var(--ui-builder-spacing-1); }
	.pt-1_5-ns { padding-top: var(--ui-builder-spacing-1_5); }
	.pt-2-ns { padding-top: var(--ui-builder-spacing-2); }
	.pt-2_5-ns { padding-top: var(--ui-builder-spacing-2_5); }
	.pt-3-ns { padding-top: var(--ui-builder-spacing-3); }
	.pt-3_5-ns { padding-top: var(--ui-builder-spacing-3_5); }
	.pt-4-ns { padding-top: var(--ui-builder-spacing-4); }
	.pt-4_5-ns { padding-top: var(--ui-builder-spacing-4_5); }

	.pb-0_5-ns { padding-bottom: var(--ui-builder-spacing-0_5); }
	.pb-1-ns { padding-bottom: var(--ui-builder-spacing-1); }
	.pb-1_5-ns { padding-bottom: var(--ui-builder-spacing-1_5); }
	.pb-2-ns { padding-bottom: var(--ui-builder-spacing-2); }
	.pb-2_5-ns { padding-bottom: var(--ui-builder-spacing-2_5); }
	.pb-3-ns { padding-bottom: var(--ui-builder-spacing-3); }
	.pb-3_5-ns { padding-bottom: var(--ui-builder-spacing-3_5); }
	.pb-4-ns { padding-bottom: var(--ui-builder-spacing-4); }
	.pb-4_5-ns { padding-bottom: var(--ui-builder-spacing-4_5); }

	.pl-0_5-ns { padding-left: var(--ui-builder-spacing-0_5); }
	.pl-1-ns { padding-left: var(--ui-builder-spacing-1); }
	.pl-1_5-ns { padding-left: var(--ui-builder-spacing-1_5); }
	.pl-2-ns { padding-left: var(--ui-builder-spacing-2); }
	.pl-2_5-ns { padding-left: var(--ui-builder-spacing-2_5); }
	.pl-3-ns { padding-left: var(--ui-builder-spacing-3); }
	.pl-3_5-ns { padding-left: var(--ui-builder-spacing-3_5); }
	.pl-4-ns { padding-left: var(--ui-builder-spacing-4); }
	.pl-4_5-ns { padding-left: var(--ui-builder-spacing-4_5); }

	.pr-0_5-ns { padding-right: var(--ui-builder-spacing-0_5); }
	.pr-1-ns { padding-right: var(--ui-builder-spacing-1); }
	.pr-1_5-ns { padding-right: var(--ui-builder-spacing-1_5); }
	.pr-2-ns { padding-right: var(--ui-builder-spacing-2); }
	.pr-2_5-ns { padding-right: var(--ui-builder-spacing-2_5); }
	.pr-3-ns { padding-right: var(--ui-builder-spacing-3); }
	.pr-3_5-ns { padding-right: var(--ui-builder-spacing-3_5); }
	.pr-4-ns { padding-right: var(--ui-builder-spacing-4); }
	.pr-4_5-ns { padding-right: var(--ui-builder-spacing-4_5); }
	/* Horizontal */
	.ph-0_5-ns { padding-left: var(--ui-builder-spacing-0_5); padding-right: var(--ui-builder-spacing-0_5); }
	.ph-1-ns { padding-left: var(--ui-builder-spacing-1); padding-right: var(--ui-builder-spacing-1); }
	.ph-1_5-ns { padding-left: var(--ui-builder-spacing-1_5); padding-right: var(--ui-builder-spacing-1_5); }
	.ph-2-ns { padding-left: var(--ui-builder-spacing-2); padding-right: var(--ui-builder-spacing-2); }
	.ph-2_5-ns { padding-left: var(--ui-builder-spacing-2_5); padding-right: var(--ui-builder-spacing-2_5); }
	.ph-3-ns { padding-left: var(--ui-builder-spacing-3); padding-right: var(--ui-builder-spacing-3); }
	.ph-3_5-ns { padding-left: var(--ui-builder-spacing-3_5); padding-right: var(--ui-builder-spacing-3_5); }
	.ph-4-ns { padding-left: var(--ui-builder-spacing-4); padding-right: var(--ui-builder-spacing-4); }
	.ph-4_5-ns { padding-left: var(--ui-builder-spacing-4_5); padding-right: var(--ui-builder-spacing-4_5); }
	/* Vertical */
	.pv-0_5-ns { padding-top: var(--ui-builder-spacing-0_5); padding-bottom: var(--ui-builder-spacing-0_5);}
	.pv-1-ns { padding-top: var(--ui-builder-spacing-1); padding-bottom: var(--ui-builder-spacing-1);}
	.pv-1_5-ns { padding-top: var(--ui-builder-spacing-1_5); padding-bottom: var(--ui-builder-spacing-1_5);}
	.pv-2-ns { padding-top: var(--ui-builder-spacing-2); padding-bottom: var(--ui-builder-spacing-2);}
	.pv-2_5-ns { padding-top: var(--ui-builder-spacing-2_5); padding-bottom: var(--ui-builder-spacing-2_5);}
	.pv-3-ns { padding-top: var(--ui-builder-spacing-3); padding-bottom: var(--ui-builder-spacing-3);}
	.pv-3_5-ns { padding-top: var(--ui-builder-spacing-3_5); padding-bottom: var(--ui-builder-spacing-3_5);}
	.pv-4-ns { padding-top: var(--ui-builder-spacing-4); padding-bottom: var(--ui-builder-spacing-4);}
	.pv-4_5-ns { padding-top: var(--ui-builder-spacing-4_5); padding-bottom: var(--ui-builder-spacing-4_5);}

	/* CSS grid - loosely based on Bootstrap 5.1 */
	.grid-ns { display: grid; }
	.template-cols-ns { grid-template-columns: repeat(var(--ui-builder-cols-ns, 12), 1fr); }
	.template-rows-ns { grid-template-rows: repeat(var(--ui-builder-rows-ns, 1), 1fr); }

	/* Grid align and justify */
	.place-center-ns { place-items: center; }
	.place-stretch-ns { place-items: stretch; }
	.place-start-ns { place-items: start; }
	.place-end-ns { place-items: end; }

	/* Grid align center justify x helpers */
	.place-center-stretch-ns { place-items: center stretch; }
	.place-center-start-ns { place-items: center start; }
	.place-center-end-ns { place-items: center end; }

	.gap0-ns { gap: 0; }
	.gap1-ns { gap: .25rem; }
	.gap2-ns { gap: .5rem; }
	.gap3-ns { gap: 1rem; }
	.gap4-ns { gap: 2rem; }
	.gap5-ns { gap: 4rem; }

	/* Grid row/column helpers */
	.gr1-ns { grid-row: auto/span 1; }
	.gr2-ns { grid-row: auto/span 2; }
	.gr3-ns { grid-row: auto/span 3; }
	.gr4-ns { grid-row: auto/span 4; }
	.gr5-ns { grid-row: auto/span 5; }
	.gr6-ns { grid-row: auto/span 6; }
	.gc1-ns { grid-column: auto/span 1; }
	.gc2-ns { grid-column: auto/span 2; }
	.gc3-ns { grid-column: auto/span 3; }
	.gc4-ns { grid-column: auto/span 4; }
	.gc5-ns { grid-column: auto/span 5; }
	.gc6-ns { grid-column: auto/span 6; }
	.gc12-ns { grid-column: auto/span 12; }
}

@media screen and (min-width:30em) and (max-width:60em) {

	/* Margin */
	.ma-0_5-m { margin: var(--ui-builder-spacing-0_5); }
	.ma-1-m { margin: var(--ui-builder-spacing-1); }
	.ma-1_5-m { margin: var(--ui-builder-spacing-1_5); }
	.ma-2-m { margin: var(--ui-builder-spacing-2); }
	.ma-2_5-m { margin: var(--ui-builder-spacing-2_5); }
	.ma-3-m { margin: var(--ui-builder-spacing-3); }
	.ma-3_5-m { margin: var(--ui-builder-spacing-3_5); }
	.ma-4-m { margin: var(--ui-builder-spacing-4); }
	.ma-4_5-m { margin: var(--ui-builder-spacing-4_5); }

	.mt-0_5-m { margin-top: var(--ui-builder-spacing-0_5); }
	.mt-1-m { margin-top: var(--ui-builder-spacing-1); }
	.mt-1_5-m { margin-top: var(--ui-builder-spacing-1_5); }
	.mt-2-m { margin-top: var(--ui-builder-spacing-2); }
	.mt-2_5-m { margin-top: var(--ui-builder-spacing-2_5); }
	.mt-3-m { margin-top: var(--ui-builder-spacing-3); }
	.mt-3_5-m { margin-top: var(--ui-builder-spacing-3_5); }
	.mt-4-m { margin-top: var(--ui-builder-spacing-4); }
	.mt-4_5-m { margin-top: var(--ui-builder-spacing-4_5); }

	.mb-0_5-m { margin-bottom: var(--ui-builder-spacing-0_5); }
	.mb-1-m { margin-bottom: var(--ui-builder-spacing-1); }
	.mb-1_5-m { margin-bottom: var(--ui-builder-spacing-1_5); }
	.mb-2-m { margin-bottom: var(--ui-builder-spacing-2); }
	.mb-2_5-m { margin-bottom: var(--ui-builder-spacing-2_5); }
	.mb-3-m { margin-bottom: var(--ui-builder-spacing-3); }
	.mb-3_5-m { margin-bottom: var(--ui-builder-spacing-3_5); }
	.mb-4-m { margin-bottom: var(--ui-builder-spacing-4); }
	.mb-4_5-m { margin-bottom: var(--ui-builder-spacing-4_5); }

	.ml-0_5-m { margin-left: var(--ui-builder-spacing-0_5); }
	.ml-1-m { margin-left: var(--ui-builder-spacing-1); }
	.ml-1_5-m { margin-left: var(--ui-builder-spacing-1_5); }
	.ml-2-m { margin-left: var(--ui-builder-spacing-2); }
	.ml-2_5-m { margin-left: var(--ui-builder-spacing-2_5); }
	.ml-3-m { margin-left: var(--ui-builder-spacing-3); }
	.ml-3_5-m { margin-left: var(--ui-builder-spacing-3_5); }
	.ml-4-m { margin-left: var(--ui-builder-spacing-4); }
	.ml-4_5-m { margin-left: var(--ui-builder-spacing-4_5); }

	.mr-0_5-m { margin-right: var(--ui-builder-spacing-0_5); }
	.mr-1-m { margin-right: var(--ui-builder-spacing-1); }
	.mr-1_5-m { margin-right: var(--ui-builder-spacing-1_5); }
	.mr-2-m { margin-right: var(--ui-builder-spacing-2); }
	.mr-2_5-m { margin-right: var(--ui-builder-spacing-2_5); }
	.mr-3-m { margin-right: var(--ui-builder-spacing-3); }
	.mr-3_5-m { margin-right: var(--ui-builder-spacing-3_5); }
	.mr-4-m { margin-right: var(--ui-builder-spacing-4); }
	.mr-4_5-m { margin-right: var(--ui-builder-spacing-4_5); }
	/* Horizontal */
	.mh-0_5-m { margin-left: var(--ui-builder-spacing-0_5); margin-right: var(--ui-builder-spacing-0_5); }
	.mh-1-m { margin-left: var(--ui-builder-spacing-1); margin-right: var(--ui-builder-spacing-1); }
	.mh-1_5-m { margin-left: var(--ui-builder-spacing-1_5); margin-right: var(--ui-builder-spacing-1_5); }
	.mh-2-m { margin-left: var(--ui-builder-spacing-2); margin-right: var(--ui-builder-spacing-2); }
	.mh-2_5-m { margin-left: var(--ui-builder-spacing-2_5); margin-right: var(--ui-builder-spacing-2_5); }
	.mh-3-m { margin-left: var(--ui-builder-spacing-3); margin-right: var(--ui-builder-spacing-3); }
	.mh-3_5-m { margin-left: var(--ui-builder-spacing-3_5); margin-right: var(--ui-builder-spacing-3_5); }
	.mh-4-m { margin-left: var(--ui-builder-spacing-4); margin-right: var(--ui-builder-spacing-4); }
	.mh-4_5-m { margin-left: var(--ui-builder-spacing-4_5); margin-right: var(--ui-builder-spacing-4_5); }
	/* Vertical */
	.mv-0_5-m { margin-top: var(--ui-builder-spacing-0_5); margin-bottom: var(--ui-builder-spacing-0_5); }
	.mv-1-m { margin-top: var(--ui-builder-spacing-1); margin-bottom: var(--ui-builder-spacing-1); }
	.mv-1_5-m { margin-top: var(--ui-builder-spacing-1_5); margin-bottom: var(--ui-builder-spacing-1_5); }
	.mv-2-m { margin-top: var(--ui-builder-spacing-2); margin-bottom: var(--ui-builder-spacing-2); }
	.mv-2_5-m { margin-top: var(--ui-builder-spacing-2_5); margin-bottom: var(--ui-builder-spacing-2_5); }
	.mv-3-m { margin-top: var(--ui-builder-spacing-3); margin-bottom: var(--ui-builder-spacing-3); }
	.mv-3_5-m { margin-top: var(--ui-builder-spacing-3_5); margin-bottom: var(--ui-builder-spacing-3_5); }
	.mv-4-m { margin-top: var(--ui-builder-spacing-4); margin-bottom: var(--ui-builder-spacing-4); }
	.mv-4_5-m { margin-top: var(--ui-builder-spacing-4_5); margin-bottom: var(--ui-builder-spacing-4_5); }

	/* Padding */
	.pa-0_5-m { padding: var(--ui-builder-spacing-0_5); }
	.pa-1-m { padding: var(--ui-builder-spacing-1); }
	.pa-1_5-m { padding: var(--ui-builder-spacing-1_5); }
	.pa-2-m { padding: var(--ui-builder-spacing-2); }
	.pa-2_5-m { padding: var(--ui-builder-spacing-2_5); }
	.pa-3-m { padding: var(--ui-builder-spacing-3); }
	.pa-3_5-m { padding: var(--ui-builder-spacing-3_5); }
	.pa-4-m { padding: var(--ui-builder-spacing-4); }
	.pa-4_5-m { padding: var(--ui-builder-spacing-4_5); }

	.pt-0_5-m { padding-top: var(--ui-builder-spacing-0_5); }
	.pt-1-m { padding-top: var(--ui-builder-spacing-1); }
	.pt-1_5-m { padding-top: var(--ui-builder-spacing-1_5); }
	.pt-2-m { padding-top: var(--ui-builder-spacing-2); }
	.pt-2_5-m { padding-top: var(--ui-builder-spacing-2_5); }
	.pt-3-m { padding-top: var(--ui-builder-spacing-3); }
	.pt-3_5-m { padding-top: var(--ui-builder-spacing-3_5); }
	.pt-4-m { padding-top: var(--ui-builder-spacing-4); }
	.pt-4_5-m { padding-top: var(--ui-builder-spacing-4_5); }

	.pb-0_5-m { padding-bottom: var(--ui-builder-spacing-0_5); }
	.pb-1-m { padding-bottom: var(--ui-builder-spacing-1); }
	.pb-1_5-m { padding-bottom: var(--ui-builder-spacing-1_5); }
	.pb-2-m { padding-bottom: var(--ui-builder-spacing-2); }
	.pb-2_5-m { padding-bottom: var(--ui-builder-spacing-2_5); }
	.pb-3-m { padding-bottom: var(--ui-builder-spacing-3); }
	.pb-3_5-m { padding-bottom: var(--ui-builder-spacing-3_5); }
	.pb-4-m { padding-bottom: var(--ui-builder-spacing-4); }
	.pb-4_5-m { padding-bottom: var(--ui-builder-spacing-4_5); }

	.pl-0_5-m { padding-left: var(--ui-builder-spacing-0_5); }
	.pl-1-m { padding-left: var(--ui-builder-spacing-1); }
	.pl-1_5-m { padding-left: var(--ui-builder-spacing-1_5); }
	.pl-2-m { padding-left: var(--ui-builder-spacing-2); }
	.pl-2_5-m { padding-left: var(--ui-builder-spacing-2_5); }
	.pl-3-m { padding-left: var(--ui-builder-spacing-3); }
	.pl-3_5-m { padding-left: var(--ui-builder-spacing-3_5); }
	.pl-4-m { padding-left: var(--ui-builder-spacing-4); }
	.pl-4_5-m { padding-left: var(--ui-builder-spacing-4_5); }

	.pr-0_5-m { padding-right: var(--ui-builder-spacing-0_5); }
	.pr-1-m { padding-right: var(--ui-builder-spacing-1); }
	.pr-1_5-m { padding-right: var(--ui-builder-spacing-1_5); }
	.pr-2-m { padding-right: var(--ui-builder-spacing-2); }
	.pr-2_5-m { padding-right: var(--ui-builder-spacing-2_5); }
	.pr-3-m { padding-right: var(--ui-builder-spacing-3); }
	.pr-3_5-m { padding-right: var(--ui-builder-spacing-3_5); }
	.pr-4-m { padding-right: var(--ui-builder-spacing-4); }
	.pr-4_5-m { padding-right: var(--ui-builder-spacing-4_5); }
	/* Horizontal */
	.ph-0_5-m { padding-left: var(--ui-builder-spacing-0_5); padding-right: var(--ui-builder-spacing-0_5); }
	.ph-1-m { padding-left: var(--ui-builder-spacing-1); padding-right: var(--ui-builder-spacing-1); }
	.ph-1_5-m { padding-left: var(--ui-builder-spacing-1_5); padding-right: var(--ui-builder-spacing-1_5); }
	.ph-2-m { padding-left: var(--ui-builder-spacing-2); padding-right: var(--ui-builder-spacing-2); }
	.ph-2_5-m { padding-left: var(--ui-builder-spacing-2_5); padding-right: var(--ui-builder-spacing-2_5); }
	.ph-3-m { padding-left: var(--ui-builder-spacing-3); padding-right: var(--ui-builder-spacing-3); }
	.ph-3_5-m { padding-left: var(--ui-builder-spacing-3_5); padding-right: var(--ui-builder-spacing-3_5); }
	.ph-4-m { padding-left: var(--ui-builder-spacing-4); padding-right: var(--ui-builder-spacing-4); }
	.ph-4_5-m { padding-left: var(--ui-builder-spacing-4_5); padding-right: var(--ui-builder-spacing-4_5); }
	/* Vertical */
	.pv-0_5-m { padding-top: var(--ui-builder-spacing-0_5); padding-bottom: var(--ui-builder-spacing-0_5);}
	.pv-1-m { padding-top: var(--ui-builder-spacing-1); padding-bottom: var(--ui-builder-spacing-1);}
	.pv-1_5-m { padding-top: var(--ui-builder-spacing-1_5); padding-bottom: var(--ui-builder-spacing-1_5);}
	.pv-2-m { padding-top: var(--ui-builder-spacing-2); padding-bottom: var(--ui-builder-spacing-2);}
	.pv-2_5-m { padding-top: var(--ui-builder-spacing-2_5); padding-bottom: var(--ui-builder-spacing-2_5);}
	.pv-3-m { padding-top: var(--ui-builder-spacing-3); padding-bottom: var(--ui-builder-spacing-3);}
	.pv-3_5-m { padding-top: var(--ui-builder-spacing-3_5); padding-bottom: var(--ui-builder-spacing-3_5);}
	.pv-4-m { padding-top: var(--ui-builder-spacing-4); padding-bottom: var(--ui-builder-spacing-4);}
	.pv-4_5-m { padding-top: var(--ui-builder-spacing-4_5); padding-bottom: var(--ui-builder-spacing-4_5);}

	/* CSS grid - loosely based on Bootstrap 5.1 */
	.grid-m { display: grid; }
	.template-cols-m { grid-template-columns: repeat(var(--ui-builder-cols-m, 12), 1fr); }
	.template-rows-m { grid-template-rows: repeat(var(--ui-builder-rows-m, 1), 1fr); }

	/* Grid align and justify */
	.place-center-m { place-items: center; }
	.place-stretch-m { place-items: stretch; }
	.place-start-m { place-items: start; }
	.place-end-m { place-items: end; }

	/* Grid align center justify x helpers */
	.place-center-stretch-m { place-items: center stretch; }
	.place-center-start-m { place-items: center start; }
	.place-center-end-m { place-items: center end; }

	.gap0-m { gap: 0; }
	.gap1-m { gap: .25rem; }
	.gap2-m { gap: .5rem; }
	.gap3-m { gap: 1rem; }
	.gap4-m { gap: 2rem; }
	.gap5-m { gap: 4rem; }

	/* Grid row/column helpers */
	.gr1-m { grid-row: auto/span 1; }
	.gr2-m { grid-row: auto/span 2; }
	.gr3-m { grid-row: auto/span 3; }
	.gr4-m { grid-row: auto/span 4; }
	.gr5-m { grid-row: auto/span 5; }
	.gr6-m { grid-row: auto/span 6; }
	.gc1-m { grid-column: auto/span 1; }
	.gc2-m { grid-column: auto/span 2; }
	.gc3-m { grid-column: auto/span 3; }
	.gc4-m { grid-column: auto/span 4; }
	.gc5-m { grid-column: auto/span 5; }
	.gc6-m { grid-column: auto/span 6; }
	.gc12-m { grid-column: auto/span 12; }
}

@media screen and (min-width:60em) {

	/* Margin */
	.ma-0_5-l { margin: var(--ui-builder-spacing-0_5); }
	.ma-1-l { margin: var(--ui-builder-spacing-1); }
	.ma-1_5-l { margin: var(--ui-builder-spacing-1_5); }
	.ma-2-l { margin: var(--ui-builder-spacing-2); }
	.ma-2_5-l { margin: var(--ui-builder-spacing-2_5); }
	.ma-3-l { margin: var(--ui-builder-spacing-3); }
	.ma-3_5-l { margin: var(--ui-builder-spacing-3_5); }
	.ma-4-l { margin: var(--ui-builder-spacing-4); }
	.ma-4_5-l { margin: var(--ui-builder-spacing-4_5); }

	.mt-0_5-l { margin-top: var(--ui-builder-spacing-0_5); }
	.mt-1-l { margin-top: var(--ui-builder-spacing-1); }
	.mt-1_5-l { margin-top: var(--ui-builder-spacing-1_5); }
	.mt-2-l { margin-top: var(--ui-builder-spacing-2); }
	.mt-2_5-l { margin-top: var(--ui-builder-spacing-2_5); }
	.mt-3-l { margin-top: var(--ui-builder-spacing-3); }
	.mt-3_5-l { margin-top: var(--ui-builder-spacing-3_5); }
	.mt-4-l { margin-top: var(--ui-builder-spacing-4); }
	.mt-4_5-l { margin-top: var(--ui-builder-spacing-4_5); }

	.mb-0_5-l { margin-bottom: var(--ui-builder-spacing-0_5); }
	.mb-1-l { margin-bottom: var(--ui-builder-spacing-1); }
	.mb-1_5-l { margin-bottom: var(--ui-builder-spacing-1_5); }
	.mb-2-l { margin-bottom: var(--ui-builder-spacing-2); }
	.mb-2_5-l { margin-bottom: var(--ui-builder-spacing-2_5); }
	.mb-3-l { margin-bottom: var(--ui-builder-spacing-3); }
	.mb-3_5-l { margin-bottom: var(--ui-builder-spacing-3_5); }
	.mb-4-l { margin-bottom: var(--ui-builder-spacing-4); }
	.mb-4_5-l { margin-bottom: var(--ui-builder-spacing-4_5); }

	.ml-0_5-l { margin-left: var(--ui-builder-spacing-0_5); }
	.ml-1-l { margin-left: var(--ui-builder-spacing-1); }
	.ml-1_5-l { margin-left: var(--ui-builder-spacing-1_5); }
	.ml-2-l { margin-left: var(--ui-builder-spacing-2); }
	.ml-2_5-l { margin-left: var(--ui-builder-spacing-2_5); }
	.ml-3-l { margin-left: var(--ui-builder-spacing-3); }
	.ml-3_5-l { margin-left: var(--ui-builder-spacing-3_5); }
	.ml-4-l { margin-left: var(--ui-builder-spacing-4); }
	.ml-4_5-l { margin-left: var(--ui-builder-spacing-4_5); }

	.mr-0_5-l { margin-right: var(--ui-builder-spacing-0_5); }
	.mr-1-l { margin-right: var(--ui-builder-spacing-1); }
	.mr-1_5-l { margin-right: var(--ui-builder-spacing-1_5); }
	.mr-2-l { margin-right: var(--ui-builder-spacing-2); }
	.mr-2_5-l { margin-right: var(--ui-builder-spacing-2_5); }
	.mr-3-l { margin-right: var(--ui-builder-spacing-3); }
	.mr-3_5-l { margin-right: var(--ui-builder-spacing-3_5); }
	.mr-4-l { margin-right: var(--ui-builder-spacing-4); }
	.mr-4_5-l { margin-right: var(--ui-builder-spacing-4_5); }
	/* Horizontal */
	.mh-0_5-l { margin-left: var(--ui-builder-spacing-0_5); margin-right: var(--ui-builder-spacing-0_5); }
	.mh-1-l { margin-left: var(--ui-builder-spacing-1); margin-right: var(--ui-builder-spacing-1); }
	.mh-1_5-l { margin-left: var(--ui-builder-spacing-1_5); margin-right: var(--ui-builder-spacing-1_5); }
	.mh-2-l { margin-left: var(--ui-builder-spacing-2); margin-right: var(--ui-builder-spacing-2); }
	.mh-2_5-l { margin-left: var(--ui-builder-spacing-2_5); margin-right: var(--ui-builder-spacing-2_5); }
	.mh-3-l { margin-left: var(--ui-builder-spacing-3); margin-right: var(--ui-builder-spacing-3); }
	.mh-3_5-l { margin-left: var(--ui-builder-spacing-3_5); margin-right: var(--ui-builder-spacing-3_5); }
	.mh-4-l { margin-left: var(--ui-builder-spacing-4); margin-right: var(--ui-builder-spacing-4); }
	.mh-4_5-l { margin-left: var(--ui-builder-spacing-4_5); margin-right: var(--ui-builder-spacing-4_5); }
	/* Vertical */
	.mv-0_5-l { margin-top: var(--ui-builder-spacing-0_5); margin-bottom: var(--ui-builder-spacing-0_5); }
	.mv-1-l { margin-top: var(--ui-builder-spacing-1); margin-bottom: var(--ui-builder-spacing-1); }
	.mv-1_5-l { margin-top: var(--ui-builder-spacing-1_5); margin-bottom: var(--ui-builder-spacing-1_5); }
	.mv-2-l { margin-top: var(--ui-builder-spacing-2); margin-bottom: var(--ui-builder-spacing-2); }
	.mv-2_5-l { margin-top: var(--ui-builder-spacing-2_5); margin-bottom: var(--ui-builder-spacing-2_5); }
	.mv-3-l { margin-top: var(--ui-builder-spacing-3); margin-bottom: var(--ui-builder-spacing-3); }
	.mv-3_5-l { margin-top: var(--ui-builder-spacing-3_5); margin-bottom: var(--ui-builder-spacing-3_5); }
	.mv-4-l { margin-top: var(--ui-builder-spacing-4); margin-bottom: var(--ui-builder-spacing-4); }
	.mv-4_5-l { margin-top: var(--ui-builder-spacing-4_5); margin-bottom: var(--ui-builder-spacing-4_5); }

	/* Padding */
	.pa-0_5-l { padding: var(--ui-builder-spacing-0_5); }
	.pa-1-l { padding: var(--ui-builder-spacing-1); }
	.pa-1_5-l { padding: var(--ui-builder-spacing-1_5); }
	.pa-2-l { padding: var(--ui-builder-spacing-2); }
	.pa-2_5-l { padding: var(--ui-builder-spacing-2_5); }
	.pa-3-l { padding: var(--ui-builder-spacing-3); }
	.pa-3_5-l { padding: var(--ui-builder-spacing-3_5); }
	.pa-4-l { padding: var(--ui-builder-spacing-4); }
	.pa-4_5-l { padding: var(--ui-builder-spacing-4_5); }

	.pt-0_5-l { padding-top: var(--ui-builder-spacing-0_5); }
	.pt-1-l { padding-top: var(--ui-builder-spacing-1); }
	.pt-1_5-l { padding-top: var(--ui-builder-spacing-1_5); }
	.pt-2-l { padding-top: var(--ui-builder-spacing-2); }
	.pt-2_5-l { padding-top: var(--ui-builder-spacing-2_5); }
	.pt-3-l { padding-top: var(--ui-builder-spacing-3); }
	.pt-3_5-l { padding-top: var(--ui-builder-spacing-3_5); }
	.pt-4-l { padding-top: var(--ui-builder-spacing-4); }
	.pt-4_5-l { padding-top: var(--ui-builder-spacing-4_5); }

	.pb-0_5-l { padding-bottom: var(--ui-builder-spacing-0_5); }
	.pb-1-l { padding-bottom: var(--ui-builder-spacing-1); }
	.pb-1_5-l { padding-bottom: var(--ui-builder-spacing-1_5); }
	.pb-2-l { padding-bottom: var(--ui-builder-spacing-2); }
	.pb-2_5-l { padding-bottom: var(--ui-builder-spacing-2_5); }
	.pb-3-l { padding-bottom: var(--ui-builder-spacing-3); }
	.pb-3_5-l { padding-bottom: var(--ui-builder-spacing-3_5); }
	.pb-4-l { padding-bottom: var(--ui-builder-spacing-4); }
	.pb-4_5-l { padding-bottom: var(--ui-builder-spacing-4_5); }

	.pl-0_5-l { padding-left: var(--ui-builder-spacing-0_5); }
	.pl-1-l { padding-left: var(--ui-builder-spacing-1); }
	.pl-1_5-l { padding-left: var(--ui-builder-spacing-1_5); }
	.pl-2-l { padding-left: var(--ui-builder-spacing-2); }
	.pl-2_5-l { padding-left: var(--ui-builder-spacing-2_5); }
	.pl-3-l { padding-left: var(--ui-builder-spacing-3); }
	.pl-3_5-l { padding-left: var(--ui-builder-spacing-3_5); }
	.pl-4-l { padding-left: var(--ui-builder-spacing-4); }
	.pl-4_5-l { padding-left: var(--ui-builder-spacing-4_5); }

	.pr-0_5-l { padding-right: var(--ui-builder-spacing-0_5); }
	.pr-1-l { padding-right: var(--ui-builder-spacing-1); }
	.pr-1_5-l { padding-right: var(--ui-builder-spacing-1_5); }
	.pr-2-l { padding-right: var(--ui-builder-spacing-2); }
	.pr-2_5-l { padding-right: var(--ui-builder-spacing-2_5); }
	.pr-3-l { padding-right: var(--ui-builder-spacing-3); }
	.pr-3_5-l { padding-right: var(--ui-builder-spacing-3_5); }
	.pr-4-l { padding-right: var(--ui-builder-spacing-4); }
	.pr-4_5-l { padding-right: var(--ui-builder-spacing-4_5); }
	/* Horizontal */
	.ph-0_5-l { padding-left: var(--ui-builder-spacing-0_5); padding-right: var(--ui-builder-spacing-0_5); }
	.ph-1-l { padding-left: var(--ui-builder-spacing-1); padding-right: var(--ui-builder-spacing-1); }
	.ph-1_5-l { padding-left: var(--ui-builder-spacing-1_5); padding-right: var(--ui-builder-spacing-1_5); }
	.ph-2-l { padding-left: var(--ui-builder-spacing-2); padding-right: var(--ui-builder-spacing-2); }
	.ph-2_5-l { padding-left: var(--ui-builder-spacing-2_5); padding-right: var(--ui-builder-spacing-2_5); }
	.ph-3-l { padding-left: var(--ui-builder-spacing-3); padding-right: var(--ui-builder-spacing-3); }
	.ph-3_5-l { padding-left: var(--ui-builder-spacing-3_5); padding-right: var(--ui-builder-spacing-3_5); }
	.ph-4-l { padding-left: var(--ui-builder-spacing-4); padding-right: var(--ui-builder-spacing-4); }
	.ph-4_5-l { padding-left: var(--ui-builder-spacing-4_5); padding-right: var(--ui-builder-spacing-4_5); }
	/* Vertical */
	.pv-0_5-l { padding-top: var(--ui-builder-spacing-0_5); padding-bottom: var(--ui-builder-spacing-0_5);}
	.pv-1-l { padding-top: var(--ui-builder-spacing-1); padding-bottom: var(--ui-builder-spacing-1);}
	.pv-1_5-l { padding-top: var(--ui-builder-spacing-1_5); padding-bottom: var(--ui-builder-spacing-1_5);}
	.pv-2-l { padding-top: var(--ui-builder-spacing-2); padding-bottom: var(--ui-builder-spacing-2);}
	.pv-2_5-l { padding-top: var(--ui-builder-spacing-2_5); padding-bottom: var(--ui-builder-spacing-2_5);}
	.pv-3-l { padding-top: var(--ui-builder-spacing-3); padding-bottom: var(--ui-builder-spacing-3);}
	.pv-3_5-l { padding-top: var(--ui-builder-spacing-3_5); padding-bottom: var(--ui-builder-spacing-3_5);}
	.pv-4-l { padding-top: var(--ui-builder-spacing-4); padding-bottom: var(--ui-builder-spacing-4);}
	.pv-4_5-l { padding-top: var(--ui-builder-spacing-4_5); padding-bottom: var(--ui-builder-spacing-4_5);}

	/* CSS grid - loosely based on Bootstrap 5.1 */
	.grid-l { display: grid; }
	.template-cols-l { grid-template-columns: repeat(var(--ui-builder-cols-l, 12), 1fr); }
	.template-rows-l { grid-template-rows: repeat(var(--ui-builder-rows-l, 1), 1fr); }

	/* Grid align and justify */
	.place-center-l { place-items: center; }
	.place-stretch-l { place-items: stretch; }
	.place-start-l { place-items: start; }
	.place-end-l { place-items: end; }

	/* Grid align center justify x helpers */
	.place-center-stretch-l { place-items: center stretch; }
	.place-center-start-l { place-items: center start; }
	.place-center-end-l { place-items: center end; }

	.gap0-l { gap: 0; }
	.gap1-l { gap: .25rem; }
	.gap2-l { gap: .5rem; }
	.gap3-l { gap: 1rem; }
	.gap4-l { gap: 2rem; }
	.gap5-l { gap: 4rem; }

	/* Grid row/column helpers */
	.gr1-l { grid-row: auto/span 1; }
	.gr2-l { grid-row: auto/span 2; }
	.gr3-l { grid-row: auto/span 3; }
	.gr4-l { grid-row: auto/span 4; }
	.gr5-l { grid-row: auto/span 5; }
	.gr6-l { grid-row: auto/span 6; }
	.gc1-l { grid-column: auto/span 1; }
	.gc2-l { grid-column: auto/span 2; }
	.gc3-l { grid-column: auto/span 3; }
	.gc4-l { grid-column: auto/span 4; }
	.gc5-l { grid-column: auto/span 5; }
	.gc6-l { grid-column: auto/span 6; }
	.gc12-l { grid-column: auto/span 12; }
}
