:root {
	--ui-builder-accent: #6db0ec;
	--ui-builder-accent-light: #9bc6ec;
	--ui-builder-accent-dark: #3372bc;
	--ui-builder-accent-invert: #f4f4f4;
	--ui-builder-panel: #ECEDF0;
	--ui-builder-text: #333333;
	--ui-builder-text-invert: #f4f4f4;
	--ui-builder-warn: #ff925c;
	--ui-builder-danger: #ED5d5d;
	--ui-builder-user1: #3276F5;
	--ui-builder-user2: #EB8DC7;
	--ui-builder-user3: #EBAA3B;
	--ui-builder-user4: #75EB6A;
	--ui-builder-user5: #94BCEB;
}

/* ui-builder colours */
.ui-builder-accent { color: var(--ui-builder-accent); }
.bg-ui-builder-accent { background-color: var(--ui-builder-accent); }
.ui-builder-accent-light { color: var(--ui-builder-accent-light);}
.bg-ui-builder-accent-light { background-color: var(--ui-builder-accent-light); }
.ui-builder-accent-light { color: var(--ui-builder-accent-light); }
.bg-ui-builder-accent-light { background-color: var(--ui-builder-accent-light); }
.ui-builder-accent-invert { color: var(--ui-builder-accent-invert); }
.bg-ui-builder-accent-invert { background-color: var(--ui-builder-accent-invert); }
.ui-builder-panel { color: var(--ui-builder-panel); }
.bg-ui-builder-panel { background-color: var(--ui-builder-panel); }
.ui-builder-text { color: var(--ui-builder-text); }
.bg-ui-builder-text { background-color: var(--ui-builder-text); }
.ui-builder-text-invert { color: var(--ui-builder-text-invert); }
.bg-ui-builder-text-invert { background-color: var(--ui-builder-text-invert); }
.ui-builder-warn { color: var(--ui-builder-warn); }
.bg-ui-builder-warn { background-color: var(--ui-builder-warn); }
.ui-builder-danger { color: var(--ui-builder-danger); }
.bg-ui-builder-danger { background-color: var(--ui-builder-danger); }
/* Users */
.ui-builder-user1 { color: var(--ui-builder-user1); }
.bg-ui-builder-user1 { background-color: var(--ui-builder-user1); }
.ui-builder-user2 { color: var(--ui-builder-user2); }
.bg-ui-builder-user2 { background-color: var(--ui-builder-user2); }
.ui-builder-user3 { color: var(--ui-builder-user3); }
.bg-ui-builder-user3 { background-color: var(--ui-builder-user3); }
.ui-builder-user4 { color: var(--ui-builder-user4); }
.bg-ui-builder-user4 { background-color: var(--ui-builder-user4); }
.ui-builder-user5 { color: var(--ui-builder-user5); }
.bg-ui-builder-user5 { background-color: var(--ui-builder-user5); }

.odometer {
	height: 1em;
	display: inline-block;
}

.digit-container {
	display: inline-block;
	height: 1em;
	width: 1em;
	overflow: hidden;
	padding: 0 0.2em;
}

/* Hide scrollbars for Carousel */
[class*=uiCarouselWrapper]::-webkit-scrollbar {
	display: none;
}

[class*=uiDialogFeedbackWrapper]::-webkit-scrollbar {
	display: none;
}

[class*=uiCarouselWrapper] {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

/* Browser style overrides */
.link:hover,
.link:active,
.link:focus,
a:hover,
a:active,
a:focus {
	outline: 0 !important;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.hide-input-clear::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

.hide-input-clear::-webkit-search-cancel-button {
	display: none;
}

/* ui-builder layout */

body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* ui-builder helper classes */

.mt-auto {
	margin-top: auto;
}

.mw-unset {
	max-width: unset;
}

/* Prevent Safari "optimising" display of vault page lists */
.safari-bug {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Simple button click ripple effect */
.ripple {
	position: relative !important;
	overflow: hidden !important;
	transform: translate3d(0, 0, 0);
}

.ripple:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, rgb(173, 173, 173) 10%, transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform .5s, opacity 1s;
}

.ripple:active:after {
	transform: scale(0, 0);
	opacity: 0.3;
	transition: 0s;
}

.doc-overlay input {
	border: none;
}

/* Simple pulsate animation */
.pulse {
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: scale(1);
	animation: 1.2s ease-in-out 0s infinite normal none running pulse-animation;
}

@keyframes pulse-animation {
	from {
		transform: scale(1);
	}

	60% {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
}

.shake {
	animation: 0.1s ease-in-out shake-left;
}

@keyframes shake-left {
	from {
		left: -0.25rem;
	}

	to {
		left: 0.25rem;
	}
}

/* Fade in/out animations */
.fade-in {
	animation: 0.2s linear opacity-in;
}

@keyframes opacity-in {
	from {
		opacity: 0
	}

	to {
		opacity: 1;
	}
}

.fade-out {
	animation: 0.2s linear opacity-out;
}

@keyframes opacity-out {
	from {
		opacity: 1
	}

	to {
		opacity: 0;
	}
}

/* Dialog sliding animations */
.notify-top-in {
	animation: 0.2s linear top-in;
}

@keyframes top-in {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0%);
	}
}

.notify-top-out {
	animation: 0.2s linear top-out;
}

@keyframes top-out {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(-100%);
	}
}

.notify-right-in {
	animation: 0.2s linear right-in;
}

@keyframes right-in {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

.notify-right-out {
	animation: 0.2s linear right-out;
}

@keyframes right-out {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(100%);
	}
}

.notify-bottom-in {
	animation: 0.2s linear bottom-in;
}

@keyframes bottom-in {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0%);
	}
}

.notify-bottom-out {
	animation: 0.2s linear bottom-out;
}

@keyframes bottom-out {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(100%);
	}
}

.notify-left-in {
	animation: 0.2s linear left-in;
}

@keyframes left-in {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

.notify-left-out {
	animation: 0.2s linear left-out;
}

@keyframes left-out {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}
}

/* Utility classes not present in Tachyons.css */
.arrow:hover {
	cursor: default;
}

.sticky {
	position: sticky;
}

.pointer-events-none {
	pointer-events: none;
}

.cursor-default {
	cursor: default;
}

.touch-action-none {
	touch-action: none;
}

/* User typeing elipsis animation  */
.user-typing-dots {
	height: 100%;
	border-radius: 10px;
	pointer-events: none;
}

.user-typing-dots>:first-child {
	margin-left: 6px
}

.user-typing-dots>:nth-child(2) {
	animation-delay: 0.15s;
}

.user-typing-dots>:nth-child(3) {
	animation-delay: 0.3s;
}

.user-typing-dot {
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-name: dot-scale;
	animation-duration: 1s;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-left: 3px;
	border-radius: 50%;
	background-color: #444;
	transform: scale(0.65);
}

@media screen and (max-width: 440px) {
	.user-typing-dot {
		width: 5px;
		height: 5px;
		margin-left: 1px;
	}

	.user-typing-dots>:first-child {
		margin-left: 2px
	}
}

@keyframes dot-scale {

	0%,
	70% {
		transform: scale(0.8);
	}

	35% {
		transform: scale(1);
	}
}

/* Fab Button Animiations */
.fab-item-in {
	animation-name: fab-item-in;
	animation-duration: 0.2s;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

.fab-item-out {
	animation-name: fab-item-out;
	animation-duration: 0.2s;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-delay: 0.5s;
}

@keyframes fab-item-in {
	0% {
		max-height: 0;
		margin-top: 0;
		padding: 0;
	}

	100% {
		max-height: 2rem;
		margin-top: 0.5rem;
		padding: 0.5rem 1rem;
	}
}

@keyframes fab-item-out {
	0% {
		max-height: 2rem;
		margin-top: 0.5rem;
		padding: 0.5rem 1rem;
	}

	100% {
		max-height: 0;
		margin-top: 0;
		padding: 0;
	}
}

/* ag-grid */
.uiTooltip {
	transition: opacity .15s ease-in;
}

.uiTooltip.ag-tooltip-hiding {
	opacity: 0;
}

.uiGridCellReset {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* CSS grid - loosely based on Bootstrap 5.1 */
.grid { display: grid; }

.template-cols {
	grid-template-columns: repeat(var(--ui-builder-cols, 12), 1fr);
}

.template-rows {
	grid-template-rows: repeat(var(--ui-builder-rows, 1), 1fr);
}

/* Grid align and justify */
.place-center { place-items: center; }
.place-stretch { place-items: stretch; }
.place-start { place-items: start; }
.place-end { place-items: end; }

/* Grid align center justify x helpers */
.place-center-stretch { place-items: center stretch; }
.place-center-start { place-items: center start; }
.place-center-end { place-items: center end; }

.gap0 { gap: 0; }
.gap1 { gap: .25rem; }
.gap2 { gap: .5rem; }
.gap3 { gap: 1rem; }
.gap4 { gap: 2rem; }
.gap5 { gap: 4rem; }

/* Grid row/column helpers */
.gr1 { grid-row: auto/span 1; }
.gr2 { grid-row: auto/span 2; }
.gr3 { grid-row: auto/span 3; }
.gr4 { grid-row: auto/span 4; }
.gr5 { grid-row: auto/span 5; }
.gr6 { grid-row: auto/span 6; }
.gc1 { grid-column: auto/span 1; }
.gc2 { grid-column: auto/span 2; }
.gc3 { grid-column: auto/span 3; }
.gc4 { grid-column: auto/span 4; }
.gc5 { grid-column: auto/span 5; }
.gc6 { grid-column: auto/span 6; }
.gc12 { grid-column: auto/span 12; }

@media screen and (min-width:30em) {
	.grid-ns { display: grid; }
	.template-cols-ns { grid-template-columns: repeat(var(--ui-builder-cols-ns, 12), 1fr); }
	.template-rows-ns { grid-template-rows: repeat(var(--ui-builder-rows-ns, 1), 1fr); }
	.place-center-ns { place-items: center; }
	.place-stretch-ns { place-items: stretch; }
	.place-start-ns { place-items: start; }
	.place-end-ns { place-items: end; }
	.place-center-stretch-ns { place-items: center stretch; }
	.place-center-start-ns { place-items: center start; }
	.place-center-end-ns { place-items: center end; }
	.gap0-ns { gap: 0; }
	.gap1-ns { gap: .25rem; }
	.gap2-ns { gap: .5rem; }
	.gap3-ns { gap: 1rem; }
	.gap4-ns { gap: 2rem; }
	.gap5-ns { gap: 4rem; }
	.gr1-ns { grid-row: auto/span 1; }
	.gr2-ns { grid-row: auto/span 2; }
	.gr3-ns { grid-row: auto/span 3; }
	.gr4-ns { grid-row: auto/span 4; }
	.gr5-ns { grid-row: auto/span 5; }
	.gr6-ns { grid-row: auto/span 6; }
	.gc1-ns { grid-column: auto/span 1; }
	.gc2-ns { grid-column: auto/span 2; }
	.gc3-ns { grid-column: auto/span 3; }
	.gc4-ns { grid-column: auto/span 4; }
	.gc5-ns { grid-column: auto/span 5; }
	.gc6-ns { grid-column: auto/span 6; }
	.gc12-ns { grid-column: auto/span 12; }
}

@media screen and (min-width:30em) and (max-width:60em) {
	.grid-m { display: grid; }
	.template-cols-m { grid-template-columns: repeat(var(--ui-builder-cols-m, 12), 1fr); }
	.template-rows-m { grid-template-rows: repeat(var(--ui-builder-rows-m, 1), 1fr); }
	.place-center-m { place-items: center; }
	.place-stretch-m { place-items: stretch; }
	.place-start-m { place-items: start; }
	.place-end-m { place-items: end; }
	.place-center-stretch-m { place-items: center stretch; }
	.place-center-start-m { place-items: center start; }
	.place-center-end-m { place-items: center end; }
	.gap0-m { gap: 0; }
	.gap1-m { gap: .25rem; }
	.gap2-m { gap: .5rem; }
	.gap3-m { gap: 1rem; }
	.gap4-m { gap: 2rem; }
	.gap5-m { gap: 4rem; }
	.gr1-m { grid-row: auto/span 1; }
	.gr2-m { grid-row: auto/span 2; }
	.gr3-m { grid-row: auto/span 3; }
	.gr4-m { grid-row: auto/span 4; }
	.gr5-m { grid-row: auto/span 5; }
	.gr6-m { grid-row: auto/span 6; }
	.gc1-m { grid-column: auto/span 1; }
	.gc2-m { grid-column: auto/span 2; }
	.gc3-m { grid-column: auto/span 3; }
	.gc4-m { grid-column: auto/span 4; }
	.gc5-m { grid-column: auto/span 5; }
	.gc6-m { grid-column: auto/span 6; }
	.gc12-m { grid-column: auto/span 12; }
}

@media screen and (min-width:60em) {
	.grid-l { display: grid; }
	.template-cols-l { grid-template-columns: repeat(var(--ui-builder-cols-l, 12), 1fr); }
	.template-rows-l { grid-template-rows: repeat(var(--ui-builder-rows-l, 1), 1fr); }
	.place-center-l { place-items: center; }
	.place-stretch-l { place-items: stretch; }
	.place-start-l { place-items: start; }
	.place-end-l { place-items: end; }
	.place-center-stretch-l { place-items: center stretch; }
	.place-center-start-l { place-items: center start; }
	.place-center-end-l { place-items: center end; }
	.gap0-l { gap: 0; }
	.gap1-l { gap: .25rem; }
	.gap2-l { gap: .5rem; }
	.gap3-l { gap: 1rem; }
	.gap4-l { gap: 2rem; }
	.gap5-l { gap: 4rem; }
	.gr1-l { grid-row: auto/span 1; }
	.gr2-l { grid-row: auto/span 2; }
	.gr3-l { grid-row: auto/span 3; }
	.gr4-l { grid-row: auto/span 4; }
	.gr5-l { grid-row: auto/span 5; }
	.gr6-l { grid-row: auto/span 6; }
	.gc1-l { grid-column: auto/span 1; }
	.gc2-l { grid-column: auto/span 2; }
	.gc3-l { grid-column: auto/span 3; }
	.gc4-l { grid-column: auto/span 4; }
	.gc5-l { grid-column: auto/span 5; }
	.gc6-l { grid-column: auto/span 6; }
	.gc12-l { grid-column: auto/span 12; }
}
